# archive/.ipynb_checkpoints/Statiz_Scraping_190731_Batter-checkpoint.ipynb
# archive/.ipynb_checkpoints/Statiz_Scraping_190731_Pitcher-checkpoint.ipynb
# archive/Sample_Result_batter/Statiz_Scraping_190731_Pitcher.ipynb
# archive/Sample_Result_batter_swha/Statiz_Scraping_190731_Batter.ipynb
# archive/Sample_Result_batter_swha/02-01_implement-random-forest(assignment).ipynb
# archive/Sample_Result_batter_swha/02-01_implement-random-forest.py
Data/raw
Data/raw
Data/raw
Data/soup
Data/soup_backup
archive
